# Dependency directories
node_modules
npm-debug.log

# Build outputs
dist
build
.temp

# Version control
.git
.gitignore

# System Files
.DS_Store
Thumbs.db

# Environment files
.env*
!.env.example

# Editor directories and files
.idea
*.sublime-project
*.sublime-workspace
*.vscode
